#main_navbar
  transition: bottom 0.5s ease-in-out


  .wrap_bottom_menu
    font-family: 'Cambay', sans-serif
    // rgba(#F1F1E4, 0.x) will allow transparency without affecting the elements inside the div
    background-color: rgba(#F1F1E4, 0.8)
    margin-left: auto
    margin-right: auto
    filter: drop-shadow(0px -1px 5px #454748)





  .menu_item
    margin-top: 4px
    transform: translateY(2px)
    text-align: center


    .bottom_menu_icon
      background-color: #6A6E71
      border-radius: 10px
      width: 45px
      height: 45px
      margin: auto
      i
        font-size: 32px
        color: #ECEBD7
        transform: translateY(8px)


    p
      margin-top: 3px
      font-size: 9px
      color: #4A4B4C
      text-align: center

    .bottom_menu_icon:hover
      background-color: #454748


#show_menu_button
  font-family: 'Cambay', sans-serif
  transform: translateY(15px)
  z-index: 1000
  .button_show
    background-color: #9E3D54
    padding-left: 15px
    padding-right: 15px
    border-radius: 10px
    cursor: pointer
    filter: drop-shadow(0px -1px 2px #454748)
    p
      margin-top: 10px
      color: #F1F1E4
  .button_show:hover
    background-color: #84404E


//generic classes used by jQuery

.clicked_menu_icon
  background-color: #9E3D54 !important

.hide_nav
  bottom: -80px !important
