.wrap_left_menu
  font-family: 'Cambay', sans-serif

  .site_logo
    margin-top: 15px
    h1
      display: inline

    p
      display: inline
      font-size: 1em
      color: #6A6E71


  .left_menu_title
    background-color: #454748
    padding: 0.5em 1em 0.5em 2em
    margin-top: 2em
    color: #6A6E71
    border-top: 1px solid
    border-left: 1px solid
    border-right: 1px solid
    border-color: #454748
    border-radius: 0.8em 0.8em 0 0

    p
      margin-top: 5px
      margin-bottom: 0
      line-height: 1em
      font-size: 1.2em

  .left_menu_content
    background-color: #F1F1E4
    padding: 1em 0 1em 0
    border-bottom: 1px solid
    border-left: 1px solid
    border-right: 1px solid
    border-color: #454748
    border-radius: 0 0 0.8em 0.8em

    button
      width: 90%
      height: 1.4em
      margin-bottom: 5px
      margin-left: 1em
      font-size: 1em
      line-height: 1.5em
      text-align: left
      padding-left: 1em
      border: 1px solid
      border-color: #6A6E71
      border-radius: 0.8em
      background-color: #F1F1E4
      color: #454748

      span
        float: right
        font-size: 1.2em
        vertical-align: middle
        color: #F1F1E4

    button:hover
      background-color: #ECEBD7
      border-color: #454748
      span
        color: #6A6E71


    button:focus
      outline: 0

    p
      padding-left: 2.5em
      font-size: 0.8em
      color: #6A6E71
      margin-bottom: 2px

//generic classes used by jQuery

.clicked_menu_button
  span
    color: #9E3D54 !important
